.custom-shape-divider-top-1740521538 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.dropdown{
  z-index: 99999;
}
.custom-shape-divider-top-1740521538 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 198px;
}

.custom-shape-divider-top-1740521538 .shape-fill {
  fill: #FFFFFF;
}



.linkPage.active {
  background-color: rgb(229, 231, 235);
  padding: .5rem 0;
  border-radius: 0.5rem;
}

.secondcomponent {
  overflow: hidden;
  background-color: rgb(241, 242, 242);
}
.paddingCompEn{
  padding-left: 22%;
}
.paddingCompAr{
  padding-right: 22%;
}
body::-webkit-scrollbar {
  display: none;
}

.MuiDataGrid-cell {
  font-family: 'Itim';
  color: #6B7280;
}
.MuiDataGrid-columnHeaderTitle {
  font-family: 'Itim';
  color: #6B7280;
}



.swiper-container {
  position: relative;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide default navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* Custom navigation buttons */
.custom-swiper-button-prev,
.custom-swiper-button-next,
.vehicles-button-prev,
.vehicles-button-next {
  cursor: pointer;
  z-index: 10;
}

.custom-swiper-button-prev.swiper-button-disabled,
.custom-swiper-button-next.swiper-button-disabled,
.vehicles-button-prev.swiper-button-disabled,
.vehicles-button-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Fix for Swiper pagination positioning */
.swiper-pagination {
  position: absolute;
  bottom: 0 !important;
  z-index: 10;
}


@media (max-width: 750px) {
  .secondcomponent {
    /* padding-left: 70px; */

  }
}